:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  font-size: 16px;
  font-family: "Outline", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 30.9375rem;
  width: 19.9375rem;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  top-margin: 7rem;
}
img {
  display: block;
  width: 17.875rem;
  height: 17.875rem;
  border-radius: 1rem;
}
h1 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--Dark-blue);
  margin-top: 1.875rem;
  padding: 1rem 0.6rem;
}
p {
  font-size: 0.9375rem;
  color: var(--Grayish-blue);
  font-weight: 400;
 
  margin-bottom: 2.75rem;
  width: 15.5rem;
}

.attribution {
  margin-top: 2rem;
  font-size: 1rem;
}
